:root {
    --yale-blue: #002F75;
    --denim: #005AB0;
    --midnight-green: #073F4C;
    --paynes-gray: #50667D;
    --reseda-green: #72854D;
    --hunter-green: #40603B;
    --caput-mortuum-dark: #452324;
    --caput-mortuum-light: #63241F;
    --burnt-umber: #88271E;
}

*,
body,
input,
button {
    font-family: "Gentium Book Plus" !important;
}

body {
    background-color: var(--paynes-gray);
    position: relative;
    width: 100%;
    min-height: 100vh;

}

.page-title {
    background-color: var(--paynes-gray);
    padding: 2rem;
}

.page-subtitle {
    /* background-color: var(--denim); */
    padding: 2rem;
    margin-bottom: 0 !important;
}

.search-bar {
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    gap: 1rem;
}

.next-button {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 3rem;
}

.prev-button {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 3rem;
}

h1 {
    color: white !important;
}

.footer {
    position: sticky;
}

.delete-card {
    position: absolute !important;
    top: 1rem !important;
    right: 1rem !important;
}

.header-title:hover {
    color: var(--yale-blue) !important;
}

.box {
    position: relative !important;
}